#MainWindow {
    background-color: #FFFFFF;
}

#timeLabel {
    /* color: #FF7070; */
    color: #383838;
    font: 40px;
    font-family: "Segoe UI";
}

#startstopPushButton:flat, #resetPushButton:flat {
    border: none;
}

#startstopPushButton:pressed, #resetPushButton:pressed {
    background-color: #FF7070;
}

#startstopPushButton:hover, #resetPushButton:hover {
    background-color: #FF7070;
}
