#Ten {
    background-color: #FFFFFF;
}

#tennyTimeLabel {
    /* color: #FF7070; */
    color: #383838;
    font: 40px;
    font-family: "Segoe UI";
}

#stortPushButton {
    /* Zipper-mouth */
}

#stortPushButton:flat, #resetPushButton:flat {
    border: none;
}

#stortPushButton:pressed, #resetPushButton:pressed {
    background-color: #FF7070;
}

#stortPushButton:hover, #resetPushButton:hover {
    background-color: #FF7070;
}
